@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geometria";
  src: url(../public/fonts/Geometria-Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: "Geometria";
  src: url(../public/fonts/Geometria-ExtraBold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: "Geometria";
  src: url(../public/fonts/Geometria-Light.woff2);
  font-weight: lighter;
}
@font-face {
  font-family: "Geometria";
  src: url(../public/fonts/Geometria-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Geometria";
  src: url(../public/fonts/Geometria-Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: "Circe";
  src: url(../public/fonts/Circe-Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: "Circe";
  src: url(../public/fonts/Circe-Regular.woff2);
  font-weight: normal;
}
@layer components {
  .body-style {
    @apply font-geometria text-base leading-snug text-primary;
  }
  .main-container {
    @apply max-w-7xl min-w-[320px] px-4 mx-auto;
  }
  .footer-link {
    @apply text-sm leading-6 border-b-2 border-transparent hover:border-alarm hover:text-alarm/70 focus:outline-none focus:border-alarm active:text-alarm transition-colors duration-300;
  }
  .social-link {
    @apply flex w-5 h-5 items-center justify-center text-secondary hover:text-alarm/70 focus:outline-alarm active:text-alarm transition-colors duration-300;
  }
  .filter-legend {
    @apply mb-3 text-sm leading-none text-neutral-500;
  }
  .filter-label {
    @apply relative block text-primary;
  }
  .filter-label:not(:last-child) {
    @apply mb-5;
  }
  .label-price {
    @apply after:content-['₽'] after:absolute  after:top-8 after:right-6 after:leading-none after:text-primary;
  }
  .filter-input {
    @apply w-full h-16 pt-7 pr-11 pb-3 pl-5 border-transparent rounded-sm bg-neutral-50 text-primary leading-none focus:border-primary focus:ring-transparent hover:bg-neutral-100 transition-colors duration-300;
  }
  .filter-cuption {
    @apply absolute top-2 left-5 text-xs font-light leading-none text-neutral-500;
  }
}
